<ActionBar title="NSTest">
<ActionItem>This is a test</ActionItem>
</ActionBar>
<StackLayout>
  <GridLayout width="100%" columns="*,*,*,*,*" rows="*,*,*,*,*,*,*" class="form">
    <Label text="Beginning Balance:" colSpan="3" class="label"></Label>
    <TextView [(ngModel)]="beginBalance"  keyboardType="number" returnKeyType="send" (returnPress)="calculatePTO()" col="3" text="0" class="input" (value)="beginBalance=$event"></TextView>
      <Label text="As of Date:" row="1" colSpan="3"></Label>
      <TextView [(ngModel)]="asOfDate" hint="0.0" col="3" row="1" keyboardType="number" text="0" class="input" (value)="asOfDate=$event"></TextView>
      <!--
      <DatePicker #asOfDayPicker colSpan="5" row="1" col="1" verticalAlignment="center"></DatePicker> 
      <ListPicker  #asOfDayPicker [items]="asOfDays" colSpan="5" row="1" [selectedIndex]="selectedAsOfDay" (selectedIndexChange)="asOfDaysChanged(asOfDayPicker)"></ListPicker>
      -->
    <Label text="Accrual Rate:" class="label" row="2" colSpan="2"></Label>
      <TextView [(ngModel)]="accrualRate" col="3" row="2" keyboardType="number" (value)="accrualRate=$event" text="Accrual Rate:" class="input" ></TextView>

    <Label text="Accrual Period:" class="label" row="3" colSpan="2"></Label>
      <TextView [(ngModel)]="accrualPeriod" col="3" row="3" keyboardType="number" (value)="accrualPeriod=$event" text="Accrual Period:" class="input" ></TextView>

      <Label text="PTO Balance as of:" colSpan="2" row="4"></Label>
      <TextView [(ngModel)]="desiredDate" col="3" row="4" keyboardType="number" (value)="desiredDate=$event" text="Desired Date:" class="input" ></TextView>
      <!--
      <ListPicker  #desiredDayPicker [items]="desiredWeekends" colSpan="5" row="4" [selectedIndex]="selectedDesiredDay" (selectedIndexChange)="desiredDaysChanged(desiredDayPicker)"></ListPicker>
      -->

      <Label text="{{ptoBalance}}" colSpan="5" row="6" class="label"> </Label>
  </GridLayout>
  <Button  class="btn btn-primary" colSpan="5" row="7" (tap)="calculatePTO()">Calculate PTO</Button>

</StackLayout>


